<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="public/css/lib/index.css" />
  <link rel="stylesheet" type="text/css" href="public/css/pages/auth.css" />
  <link rel="stylesheet" type="text/css" href="public/css/shared.css" />
  <title>Pantryy | Account</title>
</head>
<body>
  <main class="page">
    <img src="public/images/shared/logo_full.png" class="logo--big">
    <div class="page_content">
      <div class="tabs_container">
        <a class="tab tab--active">
          <span class="text__action--button--medium">
            <span class="-color--neutral_3">
              Log in
            </span>
          </span>
        </a>
        <a class="tab">
          <span class="text__action--button--medium">
            <span class="-color--neutral_3">
              Register
            </span>
          </span>
        </a>
      </div>
      <form class="form -full-width -mt--1000">
        <div class="form__inputs_container">
          <div class="input -full-width">
            <label class="input__label -full-width">
              <div class="-pl--700 -pb--500"><span class="text__paragraph--base--heavy">Email</span></div>
              <input class="input__input -full-width" placeholder="Email..." />
            </label>
          </div>
          <div class="input -full-width">
            <label class="input__label -full-width">
              <div class="-pl--700 -pb--500"><span class="text__paragraph--base--heavy">Password</span></div>
              <input class="input__input -full-width" placeholder="Password..." />
            </label>
          </div>
        </div>
        <a href="#" class="text__action--link--small -mt--600 -ml--auto">
          <span class="-color--action_default">
            Forgot password?
          </span>
        </a>
        <button class="button button--md button--filled--primary -mt--1000 -full-width -justify-center">
          <span class="text__action--button--large">
            <span class="-color--inverted" href="#">
              Log in
            </span>
          </span>
        </button>
      </form>
    </div>
  </main>
  <div class="bg_photos_container">
    <img src="public/images/auth/onion.jpg" class="bg_photo bg_photo--right" />
    <img src="public/images/auth/broccoli.jpg" class="bg_photo bg_photo--top" />
    <img src="public/images/auth/garlic.jpg" class="bg_photo bg_photo--left" />
  </div>
</body>
</html>
