.tab {
  display: block;
  padding: var(--spacing__500) calc(var(--spacing__700) + var(--spacing__600));
  position: relative;

  &:after {
    position: absolute;
    background-color: var(--color__neutral_7);
    content: '';
    height: 1px;
    width: 100%;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%,3px);
    border-radius: 2px;
  }

  &--active {
    &:after {
      background-color: var(--color__action_primary--active);
      height: 3px;
    }
  }
}

.logo {
  &--big {
    width: 156px;
    height: 60px;
  }

  &--small {
    height: 53px;
    width: 50px;
  }
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;

  &__inputs_container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing__800);
  }
}

.input {
  &__label {
    display: block;
  }

  &__input {
    border-radius: var(--border__rounded_md);
    border: 1px solid var(--color__neutral_5);
    padding: var(--spacing__600) var(--spacing__700);
    resize: none;

    &::placeholder {
      color: var(--color__neutral_5);
    }

    &--ghost {
      border: 0;
    }
  }
}

.nav {
  height: 100%;
  width: max-content;

  display: flex;

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__logo {
    margin-bottom: calc(3 * var(--spacing__1000));
  }

  &__items {
    display: flex;
    gap: var(--spacing__700);
    width: 100%;
    flex-direction: column;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: var(--spacing__700);
    padding: var(--spacing__300) calc(var(--spacing__700) + var(--spacing__300));
    padding-right: var(--spacing__900);
  }

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 100%;
      width: var(--spacing__300);
    }

    &--active {
      &::before {
        background-color: var(--color__action_primary);
      }
    }
  }
}

.table {
  border: 1px solid var(--color__neutral_7);
  border-radius: var(--border__rounded_md);
  min-width: 50%;

  th, td {
    padding: var(--spacing__600);
    padding-right: var(--spacing__1000);
    border-right: 1px solid var(--color__neutral_7);
    border-bottom: 1px solid var(--color__neutral_7);

    &:last-child {
      border-right: 0;
    }
  }

  > tbody tr:last-child td {
    border-bottom: 0;
  }

  th {
    text-align: left;
  }
}
