.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;

  &__main {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.pantry_list {
  height: 100%;
  width: 100%;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 25rem);
  grid-auto-rows: 28rem;
  gap: var(--spacing__900);
  list-style-type: none;
}

.pantry_list__item {
  width: 100%;
  z-index: 1;

  display: flex;
  flex-direction: column;
  border-radius: var(--border__rounded_md);
  position: relative;

  img {
    flex: 1;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center center;
    overflow: hidden;
  }

  &::before {
    position: absolute;
    width: calc(100% + var(--spacing__800));
    height: calc(100% + var(--spacing__800));
    content: '';
    z-index: -1;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: var(--border__rounded_md);
    box-shadow: var(--shadow__large);
    transition: opacity 0.3s;
    opacity: 0;
  }

  &:hover::before {
    opacity: 1;
  }
}

.item_description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__amount {
    margin-top: calc(-1 * var(--spacing__400));
  }

}

.item_link {
  display: contents;
}
